%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
%   {emysql,    ".*", {git, "git://github.com/Eonblast/Emysql.git",               {branch, "master"} }},
%   {sc,        ".*", {git, "git://github.com/StoneCypher/scutil.github.com.git", {branch, "master"} }},
%   {htstub,    ".*", {git, "git://github.com/StoneCypher/htstub.git",            {branch, "master"} }},
%   {crap_json, ".*", {git, "git://github.com/StoneCypher/crap_json.git",         {branch, "master"} }},
%   {iso8601,   ".*", {git, "git://github.com/seansawyer/erlang_iso8601.git",     {tag, "1.1.1"}     }},
    {proper,    ".*", {git, "git://github.com/manopapad/proper.git",              "master"           }}
] }.

%% {dev_only_deps, [...]}

{use_edown,     true}.
{cover_enabled, true}.
{erl_opts,      [ warn_missing_spec, warnings_as_errors ]}.
{edoc_opts,     [{todo, true}]}.
